.lead__caption {
  margin: 6px auto 0;
  color: #FFFFFF;
  line-height: 1.4;
  font-family: 'Inter';
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-left: 16px;
}

@media screen and (min-width: 768px) {
  .lead__caption {
    margin: 8px auto 0;
    padding-left: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__caption {
    padding-left: 0;
  }
}
