.place__website {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  grid-area: place__website;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  align-self: flex-end;
  justify-content: space-between;
}

@media screen and (min-width: 425px) {
  .place__website {
    width: 100%;
    margin: 0;
  }
}
